  </div><!--/.layout-wrapper-->
</main>
<span class="footer-release" title="<%= Decidim.config.release.dig(:repo) %>/<%= Decidim.config.release.dig(:branch) %>#<%= Decidim.config.release.dig(:commit) %>">
  v.<%= Decidim.version %>
</span>
