tmp
log
.circleci
.bundle
.ruby-version
.git
.gitignore
node_modules
public/uploads
deploy
.rubocop*
.overloads
.erb-lint.yml
.env-example
.env
.dockerignore
spec
.idea
.github
README.md
Dockerfile
docker-compose.prod.yml
docker-compose.yml
OVERLOADS.md
Makefile
