.bundle
.ruby-version
.node-version
.overloads
.rubocop*
.erb-lint.yml

.git
.gitignore
.idea
.github
.env-example
.env
.dockerignore
Procfile
tmp
log
docs
node_modules
storage
vendor/
public/packs-test
public/uploads
spec
deploy

README.md
Dockerfile
docker-compose.yml
OVERLOADS.md
Makefile

backups