services:

  database:
    image: imresamu/postgis:17-3.5.2-alpine3.21
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"

  memcached:
    image: memcached
    ports:
      - "11211:11211"

  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/var/lib/redis/data

  init_storage:
    image: decidim-app:3.4.0
    user: root
    command: chown -R 1000:1000 /opt/decidim/storage
    volumes:
      - storage-data:/opt/decidim/storage

  sidekiq:
    image: decidim-app:3.4.0
    command: [ "bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml" ]
    environment:
      - DATABASE_HOST=database
      - DATABASE_USERNAME=postgres
      - DECIDIM_HOST=localhost
      - REDIS_URL=redis://redis:6379
      - MEMCACHE_SERVERS=memcached:11211
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_LOG_TO_STDOUT=true
      - RAILS_LOG_LEVEL=debug
      - ASSET_HOST=https://localhost:3000
      - DECIDIM_FORCE_SSL=true
      - ENABLE_LETTER_OPENER=1
      - SEED=true
      - DEFACE_ENABLED=false
      - QUESTION_CAPTCHA_HOST=
      - ENABLE_RACK_ATTACK=0
      - STORAGE_PROVIDER=local
    depends_on:
      init_storage:
        condition: service_completed_successfully
      app:
        condition: service_started
    volumes:
      - ./app:/opt/decidim/app
      - ./config:/opt/decidim/config
      - ./lib:/opt/decidim/lib
      - storage-data:/opt/decidim/storage
      - ${HOME}/.decidim/tls-certificate:/opt/decidim/tls-certificate
    links:
      - database
      - redis

  app:
    image: decidim-app:3.4.0
    command: [ "bundle", "exec", "rails", "server", "-b", "ssl://0.0.0.0:3000?key=/opt/decidim/tls-certificate/key.pem&cert=/opt/decidim/tls-certificate/cert.pem" ]
    env_file:
      - .env
    environment:
      - DATABASE_HOST=database
      - DATABASE_USERNAME=postgres
      - DECIDIM_HOST=localhost
      - REDIS_URL=redis://redis:6379
      - MEMCACHE_SERVERS=memcached:11211
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_LOG_TO_STDOUT=true
      - RAILS_LOG_LEVEL=debug
      - ASSET_HOST=https://localhost:3000
      - DECIDIM_FORCE_SSL=true
      - ENABLE_LETTER_OPENER=1
      - SEED=true
      - DEFACE_ENABLED=false
      - QUESTION_CAPTCHA_HOST=
      - ENABLE_RACK_ATTACK=0
      - STORAGE_PROVIDER=local
    volumes:
      - ./app:/opt/decidim/app
      - ./config:/opt/decidim/config
      - ./lib:/opt/decidim/lib
      - storage-data:/opt/decidim/storage
      - ${HOME}/.decidim/tls-certificate:/opt/decidim/tls-certificate
    ports:
      - 3000:3000
    depends_on:
      init_storage:
        condition: service_completed_successfully
      database:
        condition: service_started
      redis:
        condition: service_started
      memcached:
        condition: service_started

volumes:
  pg-data: { }
  redis-data: { }
  storage-data: { }