services:
  minio:
    container_name: minio
    image: "bitnami/minio:latest"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_DEFAULT_BUCKETS=mybucket
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    networks:
      - minio_network
    volumes:
      - 'minio:/bitnami/minio/data'
      - ./cors.json:/etc/minio/cors.json

  database:
    image: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - minio_network
  memcached:
    image: memcached
    ports:
      - "11211:11211"
    networks:
      - minio_network
  redis:
    image: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/var/lib/redis/data
    networks:
      - minio_network
  sidekiq:
    image: decidim-lite:1.0.0
    command: [ "bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml" ]
    environment:
      - DATABASE_HOST=database
      - DATABASE_USERNAME=postgres
      - DECIDIM_HOST=localhost
      - REDIS_URL=redis://redis:6379
      - MEMCACHE_SERVERS=memcached:11211
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_LOG_TO_STDOUT=true
      - RAILS_LOG_LEVEL=debug
      - ASSET_HOST=localhost:3000
      - FORCE_SSL=1
      - ENABLE_LETTER_OPENER=1
      - SEED=true
      - DEFACE_ENABLED=false
      - QUESTION_CAPTCHA_HOST=
      - ENABLE_RACK_ATTACK=0
      - PUMA_MIN_THREADS=5
      - PUMA_MAX_THREADS=5
      - PUMA_WORKERS=4
      - PUMA_PRELOAD_APP=true
      - RAILS_SESSION_STORE=active_record
      - STORAGE_PROVIDER=s3
      - AWS_ENDPOINT=minio:9000
      - AWS_REGION=fr-par-1
      - AWS_BUCKET=mybucket
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
    depends_on:
      - minio
      - app
    volumes:
      - ./app:/decidim/app
      - ./config:/decidim/config
      - ./lib:/decidim/lib
      - ${HOME}/.decidim/tls-certificate:/decidim/tls-certificate
    links:
      - database
      - redis
    networks:
      - minio_network
  app:
    image: decidim-lite:1.0.0
    command: [ "bundle", "exec", "rails", "server", "-b", "ssl://0.0.0.0:3000?key=/decidim/tls-certificate/key.pem&cert=/decidim/tls-certificate/cert.pem" ]
    environment:
      - DATABASE_HOST=database
      - DATABASE_USERNAME=postgres
      - DECIDIM_HOST=localhost
      - REDIS_URL=redis://redis:6379
      - MEMCACHE_SERVERS=memcached:11211
      - RAILS_SERVE_STATIC_FILES=true
      - RAILS_LOG_TO_STDOUT=true
      - RAILS_LOG_LEVEL=debug
      - ASSET_HOST=localhost:3000
      - FORCE_SSL=1
      - ENABLE_LETTER_OPENER=1
      - SEED=true
      - DEFACE_ENABLED=false
      - QUESTION_CAPTCHA_HOST=
      - ENABLE_RACK_ATTACK=0
      - PUMA_MIN_THREADS=5
      - PUMA_MAX_THREADS=5
      - PUMA_WORKERS=4
      - PUMA_PRELOAD_APP=true
      - RAILS_SESSION_STORE=active_record
      - STORAGE_PROVIDER=s3
      - AWS_ENDPOINT=minio:9000
      - AWS_REGION=fr-par-1
      - AWS_BUCKET=mybucket
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
    volumes:
      - ./app:/decidim/app
      - ./config:/decidim/config
      - ./lib:/decidim/lib
      - ${HOME}/.decidim/tls-certificate:/decidim/tls-certificate
    ports:
      - 3000:3000
    depends_on:
      - minio
      - database
      - redis
      - memcached
    networks:
      - minio_network

networks:
  minio_network:
    driver: bridge

volumes:
  shared-volume: { }
  pg-data: { }
  redis-data: { }
  minio:
    driver: local