<div class="mini-footer">
  <div class="row">
    <div class="decidim-logo">
      <a rel="decidim noopener" href="https://decidim.org/" target="_blank">
        <%= image_pack_tag("media/images/decidim-logo-mobile--inv.svg", alt: "Decidim Logo" ) %>
      </a>
    </div>
    <a rel="license noopener" class="cc-badge"
       href="http://creativecommons.org/licenses/by-sa/4.0/"
       target="_blank">
      <%= image_pack_tag("media/images/cc-by-sa--inv.svg", alt: "Creative Commons License" ) %>
    </a>
    <div class="mf-text">
      <%= t("layouts.decidim.footer.made_with_open_source").html_safe %>
    </div>
  </div>
</div>
