#add-translations-search {
  #tc-autocomplete {
    width: 100% !important;
  }

  .autoComplete_wrapper > input {
    width: 100% !important;
    margin: 0;
  }

  .autoComplete_wrapper > ul {
    position: relative !important;
    margin: 0;
  }
}