// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

@import "email/email-custom";
@import "modules/footer";

.social-register > .text-center > a.primary.external-link-container {color: #002057;}

.social-register > .text-center a.button--france_connect > img {
  height: 60px;
  width: 228px;
}
.social-register > .text-center a.button--france_connect > img:hover {
  filter: brightness(165%);
}

a.button--france_connect {
  display: block;
}

a[title="Find out more about cookies"]{
  color: #000000;
  text-decoration: underline;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Optionally for IE, if you want to cover older versions of Edge */
input[type="number"] {
  -ms-appearance: textfield;
}