.flash[data-announcement] {
  display: none;

  &:has(.flash__message p:not(:empty)) {
    display: flex;
  }
}

.flash[data-announcement].is-hidden {
  display: none !important;
}

.content-block {
  padding-top: 24px;
  padding-bottom: 24px;
}

.participatory-space__metadata-link-likes {
  display: none;
}

.main-bar__links-desktop__item-wrapper div:has(a[aria-label="Activité"]) {
  display: none;
}
