<button aria-label="Toggle children" data-controls="<%= target %>" class="accordion--trigger" aria-expanded="false">
  <%= icon("arrow-right-s-line", class: "accordion--trigger-collapsed") %>
  <%= icon("arrow-down-s-line", class: "accordion--trigger-expanded") %>
</button>