.footer-release {
  display: inline-block;
  position: absolute;
  width: 120px;
  bottom: 7px;
  text-align: center;
  color: #adadad ;
  font-family: monospace;
  font-size: 85%;
  cursor: default;
}
