# i18n-tasks finds and manages missing and unused translations: https://github.com/glebm/i18n-tasks

# The "main" locale.
base_locale: en

## Reporting locale, default: en. Available: en, ru.
# internal_locale: en

# Read and write translations.
data:
  ## Translations are read from the file system. Supported format: YAML, JSON.
  ## Provide a custom adapter:
  # adapter: I18n::Tasks::Data::FileSystem

  # Locale files or `File.find` patterns where translations are read from:
  read:
    - config/locales/%{locale}.yml

  # Locale files to write new keys to, based on a list of key pattern => file rules. Matched from top to bottom:
  # `i18n-tasks normalize -p` will force move the keys according to these rules
  write:
    - config/locales/%{locale}.yml

  ## Specify the router (see Readme for details). Valid values: conservative_router, pattern_router, or a custom class.
  # router: convervative_router

  yaml:
    write:
      # do not wrap lines at 80 characters
      line_width: -1

  ## Pretty-print JSON:
  # json:
  #   write:
  #     indent: '  '
  #     space: ' '
  #     object_nl: "\n"
  #     array_nl: "\n"

# Find translate calls
search:
  ## Paths or `File.find` patterns to search in:
  paths:
    - app
    - lib

  # Root directories for relative keys resolution.
  relative_roots:
    - app/controllers
    - app/helpers
    - app/mailers
    - app/presenters
    - app/services
    - app/views
    - app/cells

  ## Files or `File.fnmatch` patterns to exclude from search. Some files are always excluded regardless of this setting:
  ##   %w(*.jpg *.png *.gif *.svg *.ico *.eot *.otf *.ttf *.woff *.woff2 *.pdf *.css *.sass *.scss *.less *.yml *.json)
  exclude:
    - "*.jpeg"
    - "*.odt"
    - "*.docx"

  ## Alternatively, the only files or `File.fnmatch patterns` to search in `paths`:
  ## If specified, this settings takes priority over `exclude`, but `exclude` still applies.
  # only: ["*.rb", "*.html.slim"]

  ## If `strict` is `false`, guess usages such as t("categories.#{category}.title"). The default is `true`.
  strict: false

  ## Multiple scanners can be used. Their results are merged.
  ## The options specified above are passed down to each scanner. Per-scanner options can be specified as well.
  ## See this example of a custom scanner: https://github.com/glebm/i18n-tasks/wiki/A-custom-scanner-example

## Google Translate
# translation:
#   # Get an API key and set billing info at https://code.google.com/apis/console to use Google Translate
#   api_key: "AbC-dEf5"

translation:
  deepl_api_key: <%= ENV["DEEPL_API_KEY"] %>

# Do not consider these keys missing:
ignore_missing:
 - faker.*
 - decidim.devise.shared.omniauth_buttons.or
 - devise.shared.links.sign_in_with_provider
 - layouts.decidim.header.user_menu
 - layouts.decidim.header.user_menu
 - decidim.devise.shared.omniauth_buttons.or
 - devise.shared.links.sign_in_with_provider
 - decidim.forms.step_navigation.*
 - decidim.forms.questionnaires.show.*
 - decidim.account.destroy.success
 - decidim.account.destroy.error
 - decidim.editor_images.create.error
 - decidim.editor_images.create.success
 - decidim.forms.questionnaires.question.max_choices
 - activemodel.errors.models.questionnaire.request_invalid
 - decidim.admin.menu.admin_accountability
 - layouts.decidim.footer.download_open_data
 - decidim.initiatives.admin.initiatives_types.new.{title,create}
 - decidim.initiatives.admin.initiatives.index.*
 - decidim.initiatives.actions.answer
 - decidim.admin.titles.initiatives
 - decidim.admin.models.initiatives.fields.*
 - decidim.admin.actions.configure
 - decidim.account.email_change.*
 - decidim.account.show.*
 - layouts.decidim.user_menu.profile
 - decidim.newsletters.unsubscribe.success
 - decidim.newsletters.unsubscribe.error
 - decidim.newsletters.unsubscribe.token_error

# Consider these keys used:
ignore_unused:
  - faker.*
  - activemodel.attributes.osp_authorization_handler.*
  - activemodel.attributes.participatory_process.private_space
  - decidim.amendments.emendation.announcement.evaluating
  - decidim.authorization_handlers.osp_authorization_handler.{explanation, name}
  - decidim.authorization_handlers.osp_authorization_handler.fields.*
  - decidim.authorization_handlers.osp_authorization_workflow.name
  - decidim.events.budgets.pending_order.*
  - decidim.events.users.user_officialized.*
  - decidim.events.verifications.verify_with_managed_user.*
  - decidim.meetings.meeting.not_allowed
  - decidim.meetings.directory.meetings.index.all
  - decidim.meetings.meetings.{create, update}.{invalid, success}
  - decidim.scopes.global
  - decidim.scopes.picker.*
  - decidim.system.organizations.omniauth_settings.{france_connect, france_connect_profile, france_connect_uid}.*
  - decidim.system.organizations.omniauth_settings.publik.*
  - decidim.verifications.authorizations.create.*
  - decidim.verifications.authorizations.first_login.actions.*
  - rack_attack.too_many_requests.*
  - decidim.account.destroy.success
  - decidim.account.destroy.error
  - decidim.proposals.collaborative_drafts.new.*
  - decidim.admin.menu.admin_accountability
  - decidim.anonymous_user
  - decidim.events.initiatives.initiative_answered.*
  - decidim.initiatives.pages.home.highlighted_initiatives.*
  - activemodel.attributes.attachment.documents
  - activemodel.attributes.participatory_space_private_user_csv_import.file
  - decidim.forms.user_answers_serializer.{email,name}
  - decidim.newsletters.unsubscribe.success
  - decidim.newsletters.unsubscribe.error
  - decidim.newsletters.unsubscribe.token_error

