:concurrency: 5
:queues:
  - default
  - backups
  - metrics
  - mailers
  - newsletter
  - events
  - scheduled

:schedule:
  CalculateAllMetrics:
    cron: '0 0 0 * * *' # Run at midnight
    class: CalculateAllMetricsJob
    queue: scheduled
  PreloadOpenData:
    cron: '0 0 1 * * *' # Run at midnight
    class: PreloadOpenDataJob
    queue: scheduled
  OrdersReminder:
    cron: '0 0 18 * * *' # Run at 18:00
    class: OrdersReminderJob
    queue: scheduled
  Backup:
    cron: '0 4 * * * *' # Run at 04:00
    class: BackupJob
    queue: backups
