:concurrency: 5
:queues:
  - default
  - backups
  - metrics
  - mailers
  - newsletter
  - events
  - user_report
  - block_user
  - scheduled
  - exports

:schedule:
  CalculateAllMetrics:
    cron: '0 0 0 * * *' # Run at midnight
    class: CalculateAllMetricsJob
    queue: scheduled
  PreloadOpenData:
    cron: '0 0 1 * * *' # Run at 01:00
    class: PreloadOpenDataJob
    queue: scheduled
  DetectSpamUsers:
    cron: '0 0 8 * * *' # Run at 08:00
    class: Decidim::SpamDetection::MarkUsersJob
    queue: scheduled
  Backup:
    cron: '0 0 4 * * *' # Run at 04:00
    class: BackupJob
    queue: backups
