:concurrency: 5
:queues:
  - mailers
  - default
  - backups
  - events
  - newsletter
  - exports
  - user_report
  - block_user
  - scheduled
  - translations
  - metrics
  - vote_reminder
  - reminders
  - active_storage_analysis
  - active_storage_purge

:scheduler:
  :schedule:
    CalculateAllMetrics:
      cron: '0 9 0 * * *' # Run at 00:09
      class: CalculateAllMetricsJob
      queue: scheduled
    PreloadOpenData:
      cron: '0 0 1 * * *' # Run at 01:00
      class: PreloadOpenDataJob
      queue: scheduled
    DetectSpamUsers:
      cron: '0 <%= Random.rand(0..59) %> <%= Random.rand(6..8) %> * * *' # Run randomly between 06:00 and 08:59
      class: Decidim::SpamDetection::MarkUsersJob
      queue: scheduled
    Backup:
      cron: '0 0 4 * * *' # Run at 04:00
      class: BackupJob
      queue: backups
    SendNotificationMailDaily:
      cron: '0 5 0 * * *' # Run at 00:05
      class: NotificationsDigestMailJob
      queue: mailers
      args: :daily
    SendNotificationMailWeekly:
      cron: '0 5 0 * * 6' # Run at 00:05 on Saturday
      class: NotificationsDigestMailJob
      queue: mailers
      args: :weekly
