:concurrency: 5
:queues:
  - mailers
  - default
  - backups
  - events
  - newsletter
  - exports
  - user_report
  - block_user
  - scheduled
  - translations
  - metrics
  - vote_reminder
  - reminders

:scheduler:
  :schedule:
    CalculateAllMetrics:
      cron: '0 9 0 * * *' # Run at 00:09
      class: CalculateAllMetricsJob
      queue: scheduled
    PreloadOpenData:
      cron: '0 0 1 * * *' # Run at 01:00
      class: PreloadOpenDataJob
      queue: scheduled
    DetectSpamUsers:
      cron: '0 0 8 * * *' # Run at 08:00
      class: Decidim::SpamDetection::MarkUsersJob
      queue: scheduled
    Backup:
      cron: '0 0 4 * * *' # Run at 04:00
      class: BackupJob
      queue: backups
    CleanAdminLogs:
      cron: "0 9 0 * * *"
      class: Decidim::Cleaner::CleanAdminLogsJob
      queue: scheduled
    CleanInactiveUsers:
      cron: "0 9 0 * * *"
      class: Decidim::Cleaner::CleanInactiveUsersJob
      queue: scheduled
