:concurrency: 5
:max_retries: 5
:queues:
  - mailers
  - default
  - backups
  - events
  - newsletter
  - exports
  - user_report
  - block_user
  - scheduled
  - translations
  - metrics
  - vote_reminder
  - reminders
  - active_storage_analysis
  - active_storage_purge
  - initiatives
  - spam_analysis

:scheduler:
  :schedule:
    CleanAdminLogs:
      cron: "0 9 0 * * *"
      class: Decidim::Cleaner::CleanAdminLogsJob
      queue: scheduled
    CleanInactiveUsers:
      cron: "0 9 0 * * *"
      class: Decidim::Cleaner::CleanInactiveUsersJob
      queue: scheduled
    CleanDeletedUsersData:
      cron: "0 9 0 * * *"
      class: Decidim::Cleaner::CleanDeletedUsersDataJob
      queue: scheduled
    ChangeActiveStepJob:
      cron: "*/15 * * * *"
      class: Decidim::ParticipatoryProcesses::ChangeActiveStepJob
      queue: scheduled

#  Decidim-AI Spam Digest Jobs
    AiSpamDigestDaily:
      cron: "55 8 * * *"
      class: Decidim::Ai::SpamDetection::SpamDigestGeneratorJob
      queue: mailers
      args:
        - daily

    AiSpamDigestWeekly:
      cron: "0 8 * * MON"
      class: Decidim::Ai::SpamDetection::SpamDigestGeneratorJob
      queue: mailers
      args:
        - weekly
