:concurrency: 5
:queues:
  - mailers
  - default
  - newsletter
  - events
  - scheduled
  - metrics

:schedule:
  CalculateAllMetrics:
    cron: '0 0 * * * *' # Run at midnight
    class: CalculateAllMetricsJob
    queue: scheduled
  PreloadOpenData:
    cron: '0 1 * * * *' # Run at 01:00
    class: PreloadOpenDataJob
    queue: scheduled
  OrdersReminder:
    cron: '0 18 * * * *' # Run at 18:00
    class: OrdersReminderJob
    queue: scheduled
