:concurrency: <%= Rails.application.secrets.dig(:sidekiq, :concurrency) %>
:max_retries: <%= Rails.application.secrets.dig(:sidekiq, :max_retries) %>
:queues:
  - mailers
  - default
  - backups
  - events
  - newsletter
  - exports
  - user_report
  - block_user
  - scheduled
  - translations
  - metrics
  - vote_reminder
  - reminders
  - active_storage_analysis
  - active_storage_purge
  - initiatives

:scheduler:
  :schedule:
    CalculateAllMetrics:
      cron: '0 <%= Random.rand(9..59) %> <%= Random.rand(0..4) %> * * *' # Run randomly between 00:09 and 04:59
      class: CalculateAllMetricsJob
      queue: scheduled
    PreloadOpenData:
      cron: '0 <%= Random.rand(10..59) %> <%= Random.rand(0..4) %> * * *' # Run randomly between 00:10 and 04:59
      class: PreloadOpenDataJob
      queue: scheduled
    DetectSpamUsers:
      cron: '0 <%= Random.rand(0..59) %> <%= Random.rand(6..8) %> * * *' # Run randomly between 06:00 and 08:59
      class: Decidim::SpamDetection::MarkUsersJob
      queue: scheduled
    Backup:
      cron: '0 <%= Random.rand(0..59) %> <%= Random.rand(2..3) %> * * *' # Run randomly between 02:00 and 03:59
      class: BackupJob
      queue: backups
    SendNotificationMailDaily:
      cron: '0 0 7 * * *' # Run at 07:00AM every days
      class: NotificationsDigestMailJob
      queue: mailers
      args: :daily
    SendNotificationMailWeekly:
      cron: '0 0 8 * * 2' # Run at 08:00AM on Tuesday
      class: NotificationsDigestMailJob
      queue: mailers
      args: :weekly
    CheckPublishedInitiatives:
      cron: '0 1 * * *'
      class: CheckPublishedInitiatives
      queue: initiatives
    CheckValidatingInitiatives:
      cron: '0 1 * * *'
      class: CheckValidatingInitiatives
      queue: initiatives
    NotifyProgressInitiatives:
      cron: '0 1 * * *'
      class: NotifyProgressInitiatives
      queue: initiatives
