test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

amazon:
  service: S3
  region: <%= ENV.fetch("AWS_REGION", "us-east-1") %>
  bucket: <%= ENV.fetch("AWS_BUCKET", "default-bucket") %>
  access_key_id: <%= ENV.fetch("AWS_ACCESS_KEY_ID", "") %>
  secret_access_key: <%= ENV.fetch("AWS_SECRET_ACCESS_KEY", "") %>
  validate_params: false

amazon_instance_profile:
  service: S3
  region: <%= ENV.fetch("AWS_REGION", "us-east-1") %>
  bucket: <%= ENV.fetch("AWS_BUCKET", "default-bucket") %>
  # In production, the following configuration is set through instance profile
  # see config/initalizers/storage.rb for more details
  # access_key_id: <%= ENV.fetch("AWS_ACCESS_KEY_ID", "") %>
  # secret_access_key: <%= ENV.fetch("AWS_SECRET_ACCESS_KEY", "") %>
  validate_params: false

minio:
  service: S3
  access_key_id: <%= ENV.fetch("AWS_ACCESS_KEY_ID", ENV.fetch("SCALEWAY_ID", "")) %>
  secret_access_key: <%= ENV.fetch("AWS_SECRET_ACCESS_KEY", ENV.fetch("SCALEWAY_TOKEN", "")) %>
  bucket: <%= ENV.fetch("AWS_BUCKET", ENV.fetch("SCALEWAY_BUCKET_NAME", "default-bucket")) %>
  endpoint: <%= ENV.fetch("AWS_ENDPOINT", ENV.fetch("OBJECTSTORE_S3_HOST", "").empty? ? "" : "https://#{ENV['OBJECTSTORE_S3_HOST']}") %>
  region: <%= Decidim::Env.new("AWS_REGION", "not_applicable").to_s %>
  force_path_style: true
  validate_params: false

azure:
  service: AzureStorage
  storage_account_name: <%= ENV.fetch("AZURE_STORAGE_ACCOUNT_NAME", "") %>
  storage_access_key: <%= ENV.fetch("AZURE_STORAGE_ACCESS_KEY", "") %>
  container: <%= ENV.fetch("AZURE_CONTAINER", "default-container") %>

gcs:
  service: GCS
  project: <%= ENV.fetch("GCS_PROJECT", "") %>
  bucket: <%= ENV.fetch("GCS_BUCKET", "default-bucket") %>
  credentials:
    type: <%= Decidim::Env.new("GCS_TYPE", "service_account").to_s %>
    project_id: <%= ENV.fetch("GCS_PROJECT_ID", "") %>
    private_key_id: <%= ENV.fetch("GCS_PRIVATE_KEY_ID", "") %>
    private_key: <%= ENV.fetch("GCS_PRIVATE_KEY", "") %>
    client_email: <%= ENV.fetch("GCS_CLIENT_EMAIL", "") %>
    client_id: <%= ENV.fetch("GCS_CLIENT_ID", "") %>
    auth_uri: <%= Decidim::Env.new("GCS_AUTH_URI", "https://accounts.google.com/o/oauth2/auth").to_s %>
    token_uri: <%= Decidim::Env.new("GCS_TOKEN_URI", "https://oauth2.googleapis.com/token").to_s %>
    auth_provider_x509_cert_url: <%= Decidim::Env.new("GCS_AUTH_PROVIDER_X509_CERT_URL", "https://www.googleapis.com/oauth2/v1/certs").to_s %>
    client_x509_cert_url: <%= ENV.fetch("GCS_CLIENT_X509_CERT_URL", "") %>