// Variables

// - Default
$body-header-color: #fefefe;
$body-footer-color: #fefefe;


/* Application Overrides --------- */

table.body th.decidim-bar,
table.body td.decidim-bar{
  background-color: $body-header-color !important;
}

.cityhall-bar{
  background-color: $body-footer-color !important;
}
