// // Variables
//
$primary: #E0037A;
$secondary: #55AADB;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238FF7;
// $actions: #57D685;
// $debates: #FA6C96;
// $meetings: #FABC6C;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

@import "decidim/application";

$gray-dark: darken(#72758A, 30);
$red: #D84D1E;
$blue: #47A5B8;

$title-bar-background: #FFFFFF;
$navbar-background: darken( $title-bar-background, 10%);

.initiative-types-select {
  white-space: normal !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;

  padding-bottom: 0;

  option {
      position: relative;
      display: block;
      margin: 0 -15px 5px  0;
      padding: 5px 10px;
      font-size: 90%;
      line-height: 17px;
      color: $secondary;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      cursor: pointer;
      white-space: normal !important;
      word-break: break-all !important;
      overflow-wrap: break-word !important;
      text-overflow: clip;
      overflow-x: hidden;

      &:hover {
        background: #e8e8e8;
      }
  }

  &:focus {
    border-color: #238FF7;
    option:checked {
      background: #238FF7;
      color: white;
    }
  }
}

.title-bar {
  background: $title-bar-background;
  color: $dark-gray;
}

.navbar {
  background: $navbar-background;
}

.topbar__search svg {
  color: $dark-gray;
}

@media print, screen and (min-width: 40em) {
  .topbar__search input,
  .topbar__search input:focus {
    background: darken( $title-bar-background, 10%);
    color: $dark-gray;

    &::placeholder {
      color: darken($medium-gray, 20%);
    }
  }
}

@media print, screen and (min-width: 40em) {
  .main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 $primary;
  }
}

.main-nav__link a {
  color: $dark-gray;
  &:hover {
    background: darken( $title-bar-background, 20%);;
    color: $dark-gray;
  }
}

.topbar__conversations .icon,
.topbar__notifications .icon {
  fill: $gray-dark;
  opacity: 0.6;
}

.topbar__notifications.is-active .icon {
  fill: $success;
}

.topbar__conversations.is-active .icon {
  fill: $primary;
}

.topbar__user .topbar__user__login > a {
  color: $gray-dark;

  &:focus,
  &:hover {
    color: $gray-dark;
    opacity: 0.8;
  }
}

.topbar__dropmenu > ul > li > a {
  color: $dark-gray;

  &:hover, &:active {
    color: $secondary;
  }

  &::after{
    margin-top: -1px !important;
    border-top-color: $dark-gray !important;
  }
}

.topbar__dropmenu .is-dropdown-submenu li {
  a {
    color: darken($secondary, 10%);
  }

  &:hover a {
    color: $gray-dark;
  }
}

.dropdown.menu .is-active > a {
  color: $secondary;
}

.topbar__dropmenu > ul > li.is-dropdown-submenu-parent.is-active > a {
  color: $gray-dark;
  opacity: 0.8;
}

.topbar__menu {
  color: #000;
}

.topbar__dropmenu .is-dropdown-submenu a {
  color: $gray-dark;

  &:focus,
  &:hover {
    color: $gray-dark;
    opacity: 0.8;
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-top-color: $gray-dark !important;
  opacity: 0.6;
}

.label.proposal-status {
  background: $red;

  &.secondary {
    background: $blue;
    color: white;
  }

  &.success {
    background: $success;
    color: black;
  }

  &.warning {
    background: $primary;
    color: black;
  }
}

.topbar__edit__link a{
  color: $secondary;

  &:hover{
    background: $navbar-bg-hover;
    color: darken($secondary,20);
  }
}

.hero {
  &::after {
    background-color: rgba($black, 0);
  }
}

.process-header__main {
  &::after {
    background-color: rgba($black, 0);
  }
}

.highligted-content-banner {
  &::after {
    background-color: rgba($black, 0);
  }
}

.highlighted_proposals .card--proposal {
  width: 100%;
}

// Hide autorisation handler profile tab
// #user-settings-tabs > li:nth-child(3) {
//   display: none;
// }
