<p class="email-greeting">Bonjour,</p>

<p class="email-instructions">Votre site internet de la participation citoyenne de Bordeaux Métropole évolue !</p>

<p class="email-instructions">En effet, dès le 25 septembre vous bénéficierez d’une interface modernisée, plus simple d'utilisation et dynamique, conçue pour vous permettre de participer toujours plus activement à la vie de notre métropole.</p>

<p class="email-instructions">
  Grâce à cette nouvelle plateforme, vous pourrez :
  <ul>
    <li>Contribuer aux concertations en cours et donner votre avis sur les projets métropolitains,</li>
    <li>Proposer des idées et voter pour des projets dans le cadre des budgets participatifs,</li>
    <li>Échanger avec d'autres citoyens pour façonner ensemble l'avenir de Bordeaux Métropole.</li>
  </ul>  
</p>

<p class="email-instructions">Nous vous invitons à créer dès maintenant votre compte en quelques clics : 👉 <a href="<%= decidim.root_url(host: @organization.host) %>users/sign_in" target="_blank">Créer mon compte</a></p>

<p class="email-closing">Nous espérons vous retrouver rapidement sur le site afin de co-construire ensemble le territoire de demain.</p>
